.list_item{
    margin-left: -23px;
}

.list_item li{
    line-height: 25px;
}

.block_download .detail, .block_download .info_download {
    font: bold 13px/20px arial, verdana, sans-serif;
    margin: 0 0 8px 1px;
}

.block_download .introtext {
    font: normal 13px arial, verdana, sans-serif;
    text-align: justify;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.block_download .introtext button {
    margin-top: 5px
}

.block_download .dl-horizontal dt, .block_download .dl-horizontal dd {
    padding: 3px;
}

.block_download .rating {
    margin: 2px 10px 10px;
    padding: 3px
}

.block_download .info_download .report {
    background: url(../images/download/report.gif) no-repeat center left;
    padding-left: 20px
}

.block_download .image{
    text-align: center;
    padding-top: 8px;
}

.note {
    margin-bottom: 6px;
    display: block;
}

.category {
    width: 100%;
}

.category .glyphicon {
    margin-right:10px;
}

.category .panel-body {
    padding:0px;
}
.category .panel-body table tr td {
    padding-left: 15px
}

.category .panel-body .table {
    margin-bottom: 0px;
}

.viewcat_list .list-title{
    margin: 10px 0 5px 0
}

.viewcat_list .list-content{
    border-top: 1px dotted #DDDDDD;
    margin: 0 5px 0 5px;
    padding: 10px 0 10px 0;
}

.viewcat_list .pagination{
    margin-top: 0
}

/* div table */
.divTable {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
.divTable .divTitle {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.divTable .divHeading {
    display: table-row;
    font-weight: bold;
    border-bottom-width: 2px;
}
.divTable .divHeading .Cell {
    border-bottom-width: 2px;
}
.divTable .Row {
    display: table-row;
}
.divTable .Row:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.divTable .Row:hover {
    background-color: #f5f5f5;
    cursor: default
}
.divTable .Cell {
    display: table-cell;
    border: 1px solid #ddd;
    border-width: thin;
    padding: 8px;
}

.upload-catlist {
    margin-bottom: 0!important;
}
.upload-catlist-item {
    padding: 5px;
}
.upload-catlist-item input[type="radio"] {
    margin-top: 0;
}
.upload-catlist-item label {
    font-weight: normal;
    margin-bottom: 0;
}